<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <form action="/members/new" th:object="${signUpMemberForm}" method="post">
    <div class="form-group">
      <div>
      <input type="text" th:field="*{name}" id="name" name="name" placeholder="Username" th:errorclass="error-class">
      <div class="error-class" th:errors="*{name}"></div>
        </div><br>
      <input type="text" th:field="*{email}" id="email" name="email" placeholder="User-Email" th:errorclass="error-class"><br>
      <div class="error-class" th:errors="*{email}"></div>
      <input type="password" th:field="*{password}" id="password" name="password" placeholder="Password" th:errorclass="error-class"><br>
      <div class="error-class" th:errors="*{password}"></div>
        <input type="radio" th:field="*{gender}" name="gender" value="남자" th:errorclass="error-class"> 남자
        <input type="radio" name="gender" value="여자" th:errorclass="error-class" > 여자
      <div class="error-class" th:errors="*{gender}"></div>
        <input type="number" th:field="*{age}" name="age" th:errorclass="error-class"> 나이
      <div class="error-class" th:errors="*{age}"></div>

    </div> <!-- 이메일,비밀번호,이름
    추후 변경될 수 있음-->
    <button type="submit">Sign up</button>
  </form>
</div>
</body>
</html>